### Installing required packages

In [20]:
!pip install openpyxl
!pip install xlrd
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\vaibh\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\vaibh\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from openpyxl) (2.0.0)

WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\vaibh\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in c:\users\vaibh\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.0.2)

WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\vaibh\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\vaibh\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\vaibh\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vaibh\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vaibh\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vaibh\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\vaibh\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\vaibh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\vaibh\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

### Importing necessary packages

In [24]:
import os
import pandas as pd

### Reading input data

In [25]:
voters_df_2014 = pd.read_excel('pc_wise_voters_turn_out_2014.xlsx')
voters_df_2019 = pd.read_excel('pc_wise_voters_turn_out_2019.xls')
voters_df_2024 = pd.read_excel('pc_wise_voters_turn_out_2024.xls')

### String the left and right spaces from all the string columns in the dataframe

In [26]:
for col in voters_df_2014.select_dtypes(include=['object']).columns:
    voters_df_2014[col] = voters_df_2014[col].str.strip()
for col in voters_df_2019.select_dtypes(include=['object']).columns:
    voters_df_2019[col] = voters_df_2019[col].str.strip()
for col in voters_df_2024.select_dtypes(include=['object']).columns:
    voters_df_2024[col] = voters_df_2024[col].str.strip()

### Verifying that all files have same structure, columns etc.

In [27]:
print(voters_df_2014.columns)
print(voters_df_2019.columns)
print(voters_df_2024.columns)

set(voters_df_2014.columns) == set(voters_df_2019.columns) == set(voters_df_2024.columns)

Index(['STATE_NAME', 'PC_NO', 'PC_NAME', 'ELECTORS', 'EVM_MALE', 'EVM_FEMALE',
       'EVM_OTHERS', 'EVM_TOTAL', 'EVM_NRI', 'POSTAL_VOTES', 'TOTAL_VOTERS',
       'VOTER_TURN_OUT_PERCENT', 'VOTER_TURNOUT_MALE_PERCENT',
       'VOTER_TURNOUT_FEMALE_PERCENT', 'VOTER_TURNOUT_OTHERS_PERCENT'],
      dtype='object')
Index(['STATE_NAME', 'PC_NO', 'PC_NAME', 'ELECTORS', 'EVM_MALE', 'EVM_FEMALE',
       'EVM_OTHERS', 'EVM_TOTAL', 'EVM_NRI', 'POSTAL_VOTES', 'TOTAL_VOTERS',
       'VOTER_TURN_OUT_PERCENT', 'VOTER_TURNOUT_MALE_PERCENT',
       'VOTER_TURNOUT_FEMALE_PERCENT', 'VOTER_TURNOUT_OTHERS_PERCENT'],
      dtype='object')
Index(['STATE_NAME', 'PC_NO', 'PC_NAME', 'ELECTORS', 'EVM_MALE', 'EVM_FEMALE',
       'EVM_OTHERS', 'EVM_TOTAL', 'EVM_NRI', 'POSTAL_VOTES', 'TOTAL_VOTERS',
       'VOTER_TURN_OUT_PERCENT', 'VOTER_TURNOUT_MALE_PERCENT',
       'VOTER_TURNOUT_FEMALE_PERCENT', 'VOTER_TURNOUT_OTHERS_PERCENT'],
      dtype='object')

True

### In 2024 dataframe, we don't have STAES mentioned in STATE_NAME column. So, adding that information by looking at 2014 and 2019 dataframes

In [28]:
state_name_dict = {}
for index, row in voters_df_2014.iterrows():
    state_name_dict[row['PC_NAME']] = row['STATE_NAME']
for index, row in voters_df_2019.iterrows():
    state_name_dict[row['PC_NAME']] = row['STATE_NAME'] 

voters_df_2024['STATE_NAME'] = voters_df_2024.apply(lambda row: None if row['PC_NAME'] not in state_name_dict.keys() else state_name_dict[row['PC_NAME']], axis=1)

### Adding year column to each dataframe

In [29]:
voters_df_2014['YEAR'] = 2014
voters_df_2019['YEAR'] = 2019
voters_df_2024['YEAR'] = 2024

### Combining all dataframes into one

In [30]:
voters_df = pd.concat([voters_df_2014, voters_df_2019, voters_df_2024], ignore_index=True)

voters_df.head()

,STATE_NAME,PC_NO,PC_NAME,ELECTORS,EVM_MALE,EVM_FEMALE,EVM_OTHERS,EVM_TOTAL,EVM_NRI,POSTAL_VOTES,TOTAL_VOTERS,VOTER_TURN_OUT_PERCENT,VOTER_TURNOUT_MALE_PERCENT,VOTER_TURNOUT_FEMALE_PERCENT,VOTER_TURNOUT_OTHERS_PERCENT,YEAR
0,Andhra Pradesh,1.0,Adilabad,1386282.0,518481.0,525482.0,2.0,1043965.0,0.0,11628.0,1055593.0,76.145618,75.486458,75.217465,1.388889,2014
1,Andhra Pradesh,2.0,Peddapalle,1425355.0,520741.0,500992.0,14.0,1021747.0,0.0,3447.0,1025194.0,71.925520,71.787233,71.629329,12.068966,2014
2,Andhra Pradesh,3.0,Karimnagar,1550810.0,550760.0,569382.0,0.0,1120142.0,0.0,7083.0,1127225.0,72.686209,70.866284,73.635013,0.000000,2014
3,Andhra Pradesh,4.0,Nizamabad,1496193.0,467172.0,559329.0,4.0,1026505.0,0.0,7527.0,1034032.0,69.110870,64.497478,72.494482,4.761905,2014
4,Andhra Pradesh,5.0,Zahirabad,1445354.0,546010.0,546798.0,0.0,1092808.0,0.0,6976.0,1099784.0,76.090978,76.071707,75.176737,0.000000,2014

### Filtering voters_df by list of constituencies

In [31]:
list_of_10_costrituencies = ['Dhule', 'Jalgaon', 'Nagpur', 'Dindori', 'Nashik', 'Pune', 'Baramati', 'Shirur', 'Ahmednagar', 'Shirdi']

voters_df_10 = voters_df[voters_df['PC_NAME'].isin(list_of_10_costrituencies)]

voters_df_10.head(10)

,STATE_NAME,PC_NO,PC_NAME,ELECTORS,EVM_MALE,EVM_FEMALE,EVM_OTHERS,EVM_TOTAL,EVM_NRI,POSTAL_VOTES,TOTAL_VOTERS,VOTER_TURN_OUT_PERCENT,VOTER_TURNOUT_MALE_PERCENT,VOTER_TURNOUT_FEMALE_PERCENT,VOTER_TURNOUT_OTHERS_PERCENT,YEAR
225,Maharashtra,2.0,Dhule,1675367.0,540775.0,438455.0,0.0,979230.0,0.0,3886.0,983116.0,58.680635,61.679428,55.133264,0.000000,2014
226,Maharashtra,3.0,Jalgaon,1707969.0,550503.0,439312.0,6.0,989821.0,0.0,783.0,990604.0,57.998945,60.806485,55.073714,24.000000,2014
233,Maharashtra,10.0,Nagpur,1900784.0,578754.0,504850.0,0.0,1083604.0,0.0,2161.0,1085765.0,57.121956,59.081851,54.888066,0.000000,2014
243,Maharashtra,20.0,Dindori,1530208.0,546617.0,422882.0,0.0,969499.0,0.0,817.0,970316.0,63.410726,67.895901,58.606955,0.000000,2014
244,Maharashtra,21.0,Nashik,1593774.0,523318.0,412087.0,0.0,935405.0,0.0,2195.0,937600.0,58.828918,61.737728,55.533589,0.000000,2014
257,Maharashtra,34.0,Pune,1835835.0,533792.0,459588.0,2.0,993382.0,0.0,584.0,993966.0,54.142447,56.299690,51.892148,25.000000,2014
258,Maharashtra,35.0,Baramati,1813553.0,602117.0,463496.0,0.0,1065613.0,0.0,1350.0,1066963.0,58.832744,62.866620,54.386130,0.000000,2014
259,Maharashtra,36.0,Shirur,1824112.0,613290.0,475412.0,0.0,1088702.0,0.0,871.0,1089573.0,59.731694,63.190204,55.941090,0.000000,2014
260,Maharashtra,37.0,Ahmednagar,1705005.0,594749.0,465801.0,1.0,1060551.0,0.0,2229.0,1062780.0,62.332955,66.381496,58.279908,1.639344,2014
261,Maharashtra,38.0,Shirdi,1462267.0,519824.0,412130.0,0.0,931954.0,0.0,939.0,932893.0,63.797720,67.860812,59.461323,0.000000,2014

### Data curation

#### Bifurcation of total voters as male, female and other is not available for 2019 and 2014 years.

In [32]:
voters_df_10['MALE_ELECTORS'] = voters_df_10['EVM_MALE']/voters_df_10['VOTER_TURNOUT_MALE_PERCENT'] * 100
voters_df_10['FEMALE_ELECTORS'] = voters_df_10['EVM_FEMALE']/voters_df_10['VOTER_TURNOUT_FEMALE_PERCENT'] * 100
voters_df_10['OTHERS_ELECTORS'] = voters_df_10['EVM_OTHERS']/voters_df_10['VOTER_TURNOUT_OTHERS_PERCENT'] * 100

C:\Users\vaibh\AppData\Local\Temp\ipykernel_4100\1458013656.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  voters_df_10['MALE_ELECTORS'] = voters_df_10['EVM_MALE']/voters_df_10['VOTER_TURNOUT_MALE_PERCENT'] * 100
C:\Users\vaibh\AppData\Local\Temp\ipykernel_4100\1458013656.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  voters_df_10['FEMALE_ELECTORS'] = voters_df_10['EVM_FEMALE']/voters_df_10['VOTER_TURNOUT_FEMALE_PERCENT'] * 100
C:\Users\vaibh\AppData\Local\Temp\ipykernel_4100\1458013656.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  voters_df_10['OTHERS_ELECTORS'] = voters_df_10['EVM_OTHERS']/voters_df_10['VOTER_TURNOUT_OTHERS_PERCENT'] * 100

In [33]:
voters_df_10.fillna(0, inplace=True)

C:\Users\vaibh\AppData\Local\Temp\ipykernel_4100\628239622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  voters_df_10.fillna(0, inplace=True)

#### Changing datatype of newly created columns to integer

In [34]:
voters_df_10['MALE_ELECTORS'] = voters_df_10['MALE_ELECTORS'].astype(int)
voters_df_10['FEMALE_ELECTORS'] = voters_df_10['FEMALE_ELECTORS'].astype(int)
voters_df_10['OTHERS_ELECTORS'] = voters_df_10['OTHERS_ELECTORS'].astype(int)

C:\Users\vaibh\AppData\Local\Temp\ipykernel_4100\3559150450.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  voters_df_10['MALE_ELECTORS'] = voters_df_10['MALE_ELECTORS'].astype(int)
C:\Users\vaibh\AppData\Local\Temp\ipykernel_4100\3559150450.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  voters_df_10['FEMALE_ELECTORS'] = voters_df_10['FEMALE_ELECTORS'].astype(int)
C:\Users\vaibh\AppData\Local\Temp\ipykernel_4100\3559150450.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  voters_df_10['OTHERS_ELECTORS'] = voters_df_10['OTHERS_ELECTORS'].astype(int)

In [35]:
voters_df_10[voters_df_10['YEAR'] == 2024]

,STATE_NAME,PC_NO,PC_NAME,ELECTORS,EVM_MALE,EVM_FEMALE,EVM_OTHERS,EVM_TOTAL,EVM_NRI,POSTAL_VOTES,TOTAL_VOTERS,VOTER_TURN_OUT_PERCENT,VOTER_TURNOUT_MALE_PERCENT,VOTER_TURNOUT_FEMALE_PERCENT,VOTER_TURNOUT_OTHERS_PERCENT,YEAR,MALE_ELECTORS,FEMALE_ELECTORS,OTHERS_ELECTORS
1292,Maharashtra,2.0,Dhule,2025275.0,658137.0,559371.0,15.0,1217523.0,0.0,4418.0,1221941.0,60.33,62.38,57.66,31.91,2024,1055044,970119,47
1293,Maharashtra,3.0,Jalgaon,2000402.0,628129.0,537830.0,18.0,1165977.0,0.0,4676.0,1170653.0,58.52,60.19,56.22,21.18,2024,1043577,956652,84
1300,Maharashtra,10.0,Nagpur,2224282.0,628957.0,578784.0,28.0,1207769.0,0.0,4316.0,1212085.0,54.49,56.46,52.14,12.56,2024,1113986,1110057,222
1310,Maharashtra,20.0,Dindori,1857924.0,679146.0,557525.0,4.0,1236675.0,0.0,5310.0,1241985.0,66.85,70.39,62.42,23.53,2024,964833,893183,16
1311,Maharashtra,21.0,Nashik,2033175.0,672512.0,560705.0,35.0,1233252.0,0.0,4361.0,1237613.0,60.87,63.33,57.74,43.75,2024,1061916,971085,80
1324,Maharashtra,34.0,Pune,2062172.0,584504.0,519078.0,89.0,1103671.0,0.0,1098.0,1104769.0,53.57,55.21,51.74,27.47,2024,1058692,1003243,323
1325,Maharashtra,35.0,Baramati,2374884.0,774501.0,637313.0,19.0,1411833.0,0.0,2201.0,1414034.0,59.54,62.25,56.37,16.38,2024,1244178,1130588,115
1326,Maharashtra,36.0,Shirur,2541750.0,773974.0,601591.0,33.0,1375598.0,0.0,2093.0,1377691.0,54.20,57.81,50.02,16.26,2024,1338823,1202700,202
1327,Maharashtra,37.0,Ahmednagar,1988934.0,721432.0,598835.0,51.0,1320318.0,0.0,6812.0,1327130.0,66.73,69.38,63.10,42.86,2024,1039827,949025,118
1328,Maharashtra,38.0,Shirdi,1680067.0,580254.0,477040.0,34.0,1057328.0,0.0,3090.0,1060418.0,63.12,66.91,58.69,43.59,2024,867215,812813,77

#### Identifing variables and their types

In [36]:
voters_df_10.dtypes

STATE_NAME                       object
PC_NO                           float64
PC_NAME                          object
ELECTORS                        float64
EVM_MALE                        float64
EVM_FEMALE                      float64
EVM_OTHERS                      float64
EVM_TOTAL                       float64
EVM_NRI                         float64
POSTAL_VOTES                    float64
TOTAL_VOTERS                    float64
VOTER_TURN_OUT_PERCENT          float64
VOTER_TURNOUT_MALE_PERCENT      float64
VOTER_TURNOUT_FEMALE_PERCENT    float64
VOTER_TURNOUT_OTHERS_PERCENT    float64
YEAR                              int64
MALE_ELECTORS                     int64
FEMALE_ELECTORS                   int64
OTHERS_ELECTORS                   int64
dtype: object

#### Saving the final dataframe to CSV

In [37]:
voters_df_10.to_csv('voters_turnout_10_constituencies.csv', index=False)